
.square {
    border: 2px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 52px;
    padding: 0;
    text-align: center;
    width: 52px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}