.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/**************************************
Game Board
**************************************/

.status {
    margin-bottom: 10px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.square {
    border: 2px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 52px;
    padding: 0;
    text-align: center;
    width: 52px;
}

/**************************************
Game History
**************************************/

.game-history-sort {
    display: flex;
    justify-content: start;
    color: var(--secondary-colour)
}
/* > = child*/
.game-history-sort > svg {
    color: var(--secondary-colour);
    align-self: flex-end;
    padding: 5px;
    font-size: 80%;
}
/* ~ = sibling*/
.game-history-sort ~ ol {
    margin-block-start: 0.5em;
}

.game-history-move  {
    color: var(--text-colour);
    font-size: 90%;
}

button.game-history-move  {
    align-self: center;
    color: white;
    background-color: var(--secondary-colour);
    border-radius: 5px;
    border-width: 0px;
    font-size: 80%;
}