:root {
  --text-colour: #282c34;
  --text-faded: #959ba6;
  --primary-colour: #fed7b0;
  --secondary-colour: rgb(175, 142, 208);
  --background-colour: rgb(255, 246, 246);
  --success-colour: rgb(133, 202, 168);
  --error-colour: rgb(206, 79, 79);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-colour);
}

.app-body {
  flex: 1 1 0;
  font-size: calc(10px + 2vmin);
  color: var(--text-colour);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.body-main {
  padding: 50px;
  margin: 50px;
  width: 60%;
  background-color: var(--background-colour);
}

.body-margin {
  width: 20%;
}

/* Portrait mode styles */
@media (max-width: 700px), (orientation: portrait) {
  .body-main {
    padding: 5%;
    margin: 5% 0px 0px 0px;
    width: 80%;
  }

  .body-margin {
    width: 5%;
  }
}

li, a {
  color: var(--secondary-colour);
}

h4 {
  color: var(--secondary-colour);
  margin-bottom: 0rem;
  font-size: 1.1em;
}

h5 {
  color: var(--text-colour);
  margin-bottom: 0rem;
  font-size: 0.8em;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: medium;
}