.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fed7b0;
}

.App-body {
  flex: 1 1 0;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.body-main {
  flex-grow: 3;
  flex-shrink: 1;
  padding: 50px;
  margin: 50px;
  background-color: white;
}

.body-margin {
  flex-grow: 1;
  flex-shrink: 3;
}

.App-link {
  color: #61dafb;
}
