.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fed7b0;
}

.app-body {
  flex: 1 1 0;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.body-main {
  padding: 50px;
  margin: 50px;
  width: 60%;
  background-color: white;
}

.body-margin {
  width: 20%;
}

li {
  color: #61dafb;
}

/* Portrait mode styles */

.body-main.portrait {
  padding: 5%;
  margin: 5% 0px 0px 0px;
  width: 80%;
}

.body-margin.portrait {
  width: 5%;
}