.quote {
    font-style: italic;
    color: var(--text-faded);
}

li {
    color: var(--text-colour);
    font-size: medium;
}
li::marker {
    color: var(--secondary-colour);
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
