.quote {
    font-style: italic;
    color: var(--text-faded);
}

li {
    color: var(--text-colour);
    font-size: medium;
}
li::marker {
    color: var(--secondary-colour);
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/*PDF viewer that scales the page, but doesn't keep quality.*/
.react-pdf__Page__canvas {
    margin: 10px 0;
    width: 100% !important;
    height: auto !important;
}