:root {
  --circleDiameter: 100px;
  --circleMargin: 10px;
}

.Header {
    text-align: center;
    vertical-align: top;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
}

.title {
    flex-grow: 1;
    justify-self: center;
    align-self: end;
    text-align: center;
    color:white;
    font-size: 50px;
    font-weight: bold;
}

.spacer {
  flex-grow: 0;
  height: var(--circleDiameter);
  width: var(--circleDiameter);
  margin: var(--circleMargin);
}

.menu-circle {
    flex-grow: 0;
    height: var(--circleDiameter);
    width: var(--circleDiameter);
    margin: var(--circleMargin);
    background-color: white;
    border-radius: 50%;
    z-index: 0;
}

.menu-logo {
  height: 90px;
  pointer-events: none;
  margin: 5px -15px;
  z-index: 1;
  filter: grayscale(100%) invert(100%);
}

@media (prefers-reduced-motion: no-preference) {
    .menu-logo {
    animation: menu-logo-spin infinite 20s linear;
  }
}

@keyframes menu-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}