.Header {
    text-align: center;
    vertical-align: top;
    min-height: 15vh;
    display: grid;
}

.menu-circle {
    grid-row: 1;
    grid-column: 1;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    z-index: 1;
}

.title {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-self: center;
    align-self: end;
    text-align: center;
    color:white;
    font-size: 50px;
    font-weight: bold;
}

.menu-logo {
  height: 90px;
  pointer-events: none;
  margin: 5px -15px;
  z-index: 2;
  filter: grayscale(100%) invert(100%);
}

@media (prefers-reduced-motion: no-preference) {
    .menu-logo {
    animation: menu-logo-spin infinite 20s linear;
  }
}

@keyframes menu-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}